h1 formulario de prueba de imagenes
div 
   form(action ="/properties/create",method="POST",enctype="multipart/form-data")
    label imagenes 
    input(type="file", name="images" multiple)
    label nombre
    input(type="text", name="name")
    label tipo
    input(type="text", name="type")
    label precio
    input(type="number", name="price")
    label antiguedad
    input(type="number", name="antiquity")
    label estado 
    input(type="text", name="state")
    label superficie del terreno 
    input(type="number", name="landSurface")
    label superficie total 
    input(type="number", name="totalSurface")
    label localidad
    input(type="text", name="location")
    label direccion
    input(type="text", name="adress")
    label descripcion
    input(type="text", name="description")
    input(type="submit", value="enviar")
    